//================
//page Contact

.post-25, .post-340 {

	h1 {
		padding-bottom: 0.35em;
		background: url('../../../img/border-bottom-ball.png') bottom left repeat-x;
	}

	.alignleft-hack{
		margin-left: 2em;
		margin-right: 0;
	}

	.alignright-hack {
		margin-top: -4em;
		margin-left: 0;
	}

	p {
		margin-bottom:1.1em
	}

	.map-wrapper {
		padding-bottom: 0.2em;
		margin-bottom: 1em;
		background: url('../../../img/border-bottom-ball.png') bottom left repeat-x;
	}

	#map_canvas {
		height: 300px;
		margin: 2em 0;	
	}

	a {
		color: $blue-principal;
		text-decoration: underline;
	}
}