.site-content, .content-area {
	width: 100%;
	height: 100%;
	position: relative;
}

.content-area {
	width:100%;
	padding: 2em 20% 4em;
	@include mq(lap) {padding: 2em 15% 4em;}
	@include mq(tablet) {padding: 1em 5% 4em;}
	@include mq(phone) {padding: 1em 1.5% 4em;}
}

.site-main {
	max-width:1200px;
	margin:0 auto;
}


.slick-slider-history img {
	opacity: 0.8;
	transition: all 300ms ease;
}

.slick-center img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 1;
}