//template-visite
.template-photos {
	width:100%;
	padding: 0;
	@include mq(lap) {padding: 0;}
	@include mq(tablet) {padding: 0;}
	@include mq(phone) {padding: 0;}

	.site-main {
		max-width:none;
	}
}

//template-visite
.template-visite {
	width:100%;
	padding: 0;
	@include mq(lap) {padding: 0;}
	@include mq(tablet) {padding: 0;}
	@include mq(phone) {padding: 0;}

	.site-main {
		max-width: none;
		margin:auto;
	}
}

.bloc-visite {
	position: fixed;
	width: 100%;
	height: 100%;

	p {
		margin: 0;
		height: 100%;
	}
}